/* Main Colors */
:root {
	--mainColor: #152028;
	--secondaryColor: #192734;
	--borderColor: #164d56;
	--mainText: #fff;
	--secondaryText: #eeeeee;
	--themeDotBorder: #fff;
	--previewBg: rgb(25, 39, 52, 0.8);
	--previewShadow: #111921;
	--buttonColor: #152028;
	--hoverColor: #AC8BC0;
}
