/* Main Colors */
:root{
	--mainColor: #003B46;
	--secondaryColor: #06575B;
  --borderColor: #B8FB3C;
  --mainText: #fff;
	--secondaryText: #eeeeee;
  --themeDotBorder: #FFF;
  --previewBg: rgb(208,224,213, 0.2);
	--previewShadow:#66A5AD;
  --buttonColor:#B3C100;
}
