@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
/*===========================
 			General Styling
  ============================ */


a {
	text-decoration: none;
	color: #17a2b8;
}

ul {
	list-style: none;
}

body * {
	transition: 0.3s;
}

html {
	scroll-behavior: smooth;
}

.title-1 {
	font-family: 'Righteous', cursive;
}



/* Container Styling */
.main-container {
	width: 1200px;
	margin: 0 auto;
}

/* Main Colors */
:root {
	--mainColor: background-color: #b8c6db;
               background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	--secondaryColor: #fff;
	--borderColor: #616161;
	--mainText: #231F20;
	--secondaryText: #231F20;
	--themeDotBorder: #24292e;
	--previewBg: rgb(251, 249, 243, 0.8);
	--previewShadow:#DAD9D5;
	--buttonColor: #2098D1;
	--hoverColor: #414141;
	--hoverText: #fff;
}

/* Element Styling */
html, body {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
	color: var(--mainText);
	font-family: 'Cousine', monospace;
	font-weight: 400;

}

p, li, span, label, input, textarea {
		color: var(--secondaryText);
	  font-family: 'Sanchez', serif;
}

/* Font Styling */
h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}


/*==========================
			Title Section
  =========================== */

/* Font Styling of Title */
.section-1 {
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.section-2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}


/* Grid Section of Title */
.wrapper {
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}

/*========================
		Navigation Section
  ========================= */
.intro-wrapper {
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor);
	border-radius:5px 5px 0 0;
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
				'nav-wrapper nav-wrapper'
				'left-column right-column';
}

.nav-wrapper {
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
	border-radius:5px 5px 0 0;
}

.left-column {
	grid-area: left-column;
	padding-top: 50px;
	padding-bottom: 50px;
}

.right-column {
	grid-area: right-column;
	display: grid;
	align-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}



/* Contact button Navigation */
#navigation {
	margin: 0;
	padding: 10px;
}

#navigation li {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

#navigation a {
	color: #fff;
}

/* Navigation Dots Styling */
.dots-wrapper {
	display: flex;
	padding: 10px;
}

#dot-1 {
	background-color: #FC6058;
}

#dot-2 {
	background-color: #FEC02F;
}

#dot-3 {
	background-color: #2ACA3E;
}

.browser-dot {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}


/* ======================
		Profile Pic Styling
   ====================== */
#profile_pic {
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	object-fit: cover;
	border: 2px solid var(--borderColor);
}

/* Theme Dots Styling */
#theme-options-wrapper {
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
	margin: 5px;
	border:2px solid var(--themeDotBorder);
		-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		cursor: pointer;
}

.theme-dot:hover{
	border-width: 5px;
}

#light-mode {
	background-color: #fff;
}

#black-mode {
	background-color: #000000;
}

#green-mode {
	background-color: #003B46;
}

#purple-mode {
	background-color: #7E4C74;
}

/* =================
		Preview Section
   =================== */
#settings-note {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

#preview-shadow {
	background-color: var(--previewShadow);
	width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview {
	width: 300px;
	border: 1.5px solid #5B5150;
	background-color: var(--previewBg);
	padding: 15px;
	position: relative;
}

.corner {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1.5px solid #5B5150;
	background-color: #fff;
	position: absolute;
}

#corner-tl {
	top: -5px;
	left: -5px;
}

#corner-tr {
	top: -5px;
	right: -5px;
}

#corner-br {
	bottom: -5px;
	right: -5px;
}

#corner-bl {
	bottom: -5px;
	left: -5px;
}

/*Portfolio Button */

.cta {
  display: inline-block;
  padding: 10px 10px;
  color: #fff;
	background-color: var(--buttonColor);
	font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 10px;
  transition: .3s ease;
  transition-property: background-color, color;

}

.cta:hover {
  color: var(--hoverText);
  background-color: var(--hoverColor);
}

.btn-1 {
	margin-left: 30%;
}

.btn-2 {
	margin-left: 15%;
}



/* ======================
			About Me Section
   =======================*/
.about-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap: 100px;
}

.about-me {
	margin-left: 5%;
	margin-right: 5%;
}

#skills {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

/*=====================
		Services Section
	====================== */
.grid-item {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 8px;
	justify-content: space-evenly;
}

.what-i-do {
	width: 80%;
	margin: 0 auto;
}

/*========================
		Portfolio Section
	======================== */
.post-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {
	border: 1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail {
	display: block;
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.post-preview {
	background-color: #fff;
	padding: 15px;
}

.post-title {
	color: black;
	margin: 0;
}

.post-intro {
	color: #4b5156;
	font-size: 14px;
}

/* =====================
  		Contact Form
	 ====================== */
#contact-form {
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

#contact-form label {
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}

.input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border: 1px solid var(--borderColor);
	font-size: 14px;
}

#submit-btn {
	cursor: pointer;
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: var(--buttonColor);
	border: none;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .1rem;

}

#submit-btn:hover {
	background-color: var(--hoverColor);
	color: var(--hoverText);
}


/* ======================
			Arrow-Up Button
   ====================== */
	 #back-to-top-btn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 20px;
   font-size: 26px;
   width: 50px;
   height: 50px;
   background-color: #fff;
   color: #333;
   cursor: pointer;
   outline: none;
   border: 3px solid #333;
   border-radius: 50%;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
   transition-property: background-color, color;
 }
 #back-to-top-btn:hover, #back-to-top-btn:focus {
   background-color: #333;
   color: #fff;
 }

/* ======================
				Footer
   ====================== */
.social {
	   width: 100%;
	   margin: 0 auto;
	   text-align: center;
	   margin-top: 50px;
	 }

.social .links {
  font-size: 22px;
  width: 45px;
  height: 45px;
  line-height: 39px;
  display: inline-block;
  margin: 10px;
  color: #fff;
}

.social .links:hover{
  opacity: 0.9;
  box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
}

.copyright {
	color: var(--mainText);
  text-align: center;
  padding-top: 24px;
	margin-left: 2%;
  font-weight: 300;
  opacity: 0.8;
  font-size: 16px;
}

.fa-linkedin  {
	color: var(--mainText);
}

 .fa-github {
	 color: var(--mainText);
 }

.fa-codepen {
	color: var(--mainText);
}

.fa-envelope-open-text {
		color: var(--mainText);
}


/* ======================
				Animations
   ====================== */

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}


/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}


/* =====================
			Media Query
	 ====================== */

/* Desktop */
@media screen and (max-width: 1200px){
	.main-container {
		width: 95%;
	}
}

/* Tablet */
@media screen and (max-width: 1024px) {
.nav-links {
	width: 60%;
	margin-top: 4%;
}

@media(max-width: 992px) {
	#back-to-top-btn {
	font-size: 22px;
	width: 40px;
	height: 40px;
	bottom: 15px;
	right: 15px;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
					'nav-wrapper'
					'left-column'
					'right-column';
				}
		.right-column {
			justify-content: center;
		}
		.social{
		padding-right: 30%;
	}
	.links {
		margin-left: 5%;
	}

	.title-1 {
		padding-right: 10%;
		padding-left: 10%;
	}
}

/* Mobile */
@media(max-width:768px) {
 #back-to-top-btn {
 font-size: 18px;
 width: 32px;
 height: 32px;
 bottom: 6px;
right: 6px;
	}
	.right-column {
		margin-top: -60px;
		margin-bottom: 70px;
		padding-bottom: 70px;
	}
}



	/* Smaller Screens */
@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}
#preview{
		width: 280px;
	}

}
